<div class="container-fluid">
  <form [formGroup]="taskForm" autocomplete="off" novalidate (ngSubmit)="createTask(taskForm.value)">
    <div class="form-horizontal ">

      <div class="form-group">
        <label for="name" class="control-label col-md-2">Name of the task: </label>
        <div class="col-md-5">
          <input type="text" formControlName="name" id="name" class="form-control" />
        </div>
        <div  class="col-md-5">
          <em *ngIf="validateControl('name') && hasError('name', 'required')">Name is required</em>
          <em *ngIf="validateControl('name') && hasError('name', 'maxlength')">Maximum allowed length is 60
            characters.</em>
        </div>
      </div>


      <div class="form-group">
        <label for="description" class="control-label col-md-2">Description: </label>
        <div class="col-md-5">
          <input type="text" formControlName="description" id="description" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('description') && hasError('description', 'required')">Description is required</em>
          <em *ngIf="validateControl('description') && hasError('description', 'maxlength')">Maximum allowed length is
            300 characters.</em>
        </div>
      </div>

      <div class="form-group">
        <label for="deadline" class="control-label col-md-2">Deadline: </label>
        <input type="date" formControlName="deadline" id="deadline" class="colortext" name="deadline" value="2019-12-22" min="2019-12-22"
          max="2025-12-31">
        <div class="col-md-1">
          <em *ngIf="validateControl('deadline') && hasError('deadline', 'required')">Deadline is required</em>
        </div>
      </div>


      <div class="form-group">
        <label for="status" class="control-label col-md-2">Status: </label>
        <select class="custom-select colortext" formControlName="status" id="status" name="status">
          <option selected>Choose status</option>
          <option value="Created">Created</option>
          <option value="InProgress">In progress</option>
          <option value="WaitingForApproval">Waiting for approval</option>
          <option value="Finished">Finished</option>
        </select>
        <div class="col-md-1">
          <em *ngIf="validateControl('status') && hasError('status', 'required')">Status is required</em>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-8 col-md-1">
          <button mat-raised-button [disabled]="!taskForm.valid"
            (click)="openSnackBar('Successfully created!','Close')">Save</button>
        </div>
        <div class="col-md-1">
          <button mat-raised-button color=warn (click)="redirectToTaskList()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
