  <div class="navbar-header sp">
    <a [routerLink]="['/home']"><button mat-fab color=primary>
        <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
      </button></a>
  </div>
  <div>
    <button class="sp" mat-fab color=primary [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['/tasks']"><button mat-menu-item>Tasks</button></a>
      <a [routerLink]="['/users']"><button mat-menu-item>Users</button></a>
      <a [routerLink]="['/userTasks']"><button mat-menu-item>Users and tasks</button></a>
    </mat-menu>
  </div>

  <!--
  <nav class="navbar" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a  [routerLink]="['/home']"><button mat-fab>Home</button></a>
      </div>
      <button  mat-fab [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
   <a [routerLink]="['/tasks']"><button mat-menu-item>Tasks</button></a>
   <a [routerLink]="['/users']"><button mat-menu-item>Users</button></a>
   <a [routerLink]="['/userTasks']"><button mat-menu-item>Users and tasks</button></a>
  </mat-menu>
</div>
  </nav>
-->
